.section-about {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-grey-light-1;
  padding-top: 25rem;
  margin-top: -35vh;
}

.about-container {
  display: flex;
  justify-content: center;
  width: 90%;
}

.section-features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: -20vh;

  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)), 
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

.feature-container {
  display: flex;
  margin: 2.5rem;
}

.section-tours {
  background-color: $color-grey-light-1;
  height: 120vh;
  margin-top: -10vh;
}

.tours-container {
  display: flex;
  justify-content: space-evenly;
}
